# 7. 데이터 선택 (loc)
- 이름을 이용하여 원하는 row에서 원하는 col선택

In [ ]:
import pandas as pd

df = pd.read_csv("./score.csv",index_col="지원번호")
df

In [ ]:
df.loc["1번"]           # 인덱스가 1번에 해당하는 데이터를 가져옴

In [ ]:
df.loc['5번']           # 인덱스가 5번에 해당하는 전체 데이터 반환

In [27]:
df.loc['1번','국어']    # 인덱스가 1번인 데이터의 국어점수를 반환

90

In [26]:
df.loc[['1번','2번'],'영어']        # 인덱스 1번,2번인 데이터의 영어점수를 반환

지원번호
1번    85
2번    35
Name: 영어, dtype: int64

In [25]:
df.loc[['1번','2번'],['영어','수학']]   # 인덱스 1번,2번인 데이터의 수학,영어점수를 반환

      영어   수학
지원번호
1번    85  100
2번    35   50

In [24]:
# index가 아닌 name을 이용해서 슬라이싱을 하면 마지막을 포함한다
df.loc['1번':"5번",'국어':'사회']       # 인덱스 1번부터 5번까지 데이터중 국어부터 사회까지 데이터를 반환

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10

In [23]:
df.loc['1번':"5번":2,'국어':'사회':2]   # 인덱스 1번부터 5번까지 데이터 중 국어부터 사회까지 데이터를 1,3,5번째만 반환

      국어   수학  사회
지원번호
1번    90  100  85
3번    80   70  75
5번    15   10  10